<label class="form__form-label {{this.classModificators.formLabel}}">
  <p class="form__input-field-title {{this.classModificators.inputFieldTitle}}">
    {{this.title}}
  </p>
  <input class="form__input-field {{this.classModificators.inputField}}" name="{{this.name}}" type="{{this.type}}" placeholder="{{this.placeholder}}"/>
  <span class="form__input-error {{this.classModificators.inputError}}">{{this.errorMessage}}</span>
</label>
